/* Signin.css */

.Signin {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  #signInDiv {
    margin-top: 20px;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .user-profile {
    margin-top: 20px;
  }
  
  .user-profile img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  